.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.sideNavMenu {


}

.stretch-height {
  height:  100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* formatting for side nav bar */

.stretch-height{
  height:  100vh;
}

.button-spread{
  display: block;
  margin: auto;
  margin-top: 20%;
  padding-left: 20%;
  padding-right: 20%;


}

.btn{
  border-radius: 18px;
  background-color: #768c75;
  border: none;
  transition: all 0.3s ease-in;

}

.sideNavMenu, .ww-nav{
  background-color: #e3eae3;
}

.btn-primary:hover{
  background-color: #EE9C5D;
}

.btn-success:hover{
  background-color: #8cbbdb;
}

nav > a:hover{
  text-decoration: none;
}

nav img{
  margin-left: 35px;
  margin-top: 3px;
}
