.App {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.sideNavMenu {


}

.stretch-height {
  height:  100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* formatting for side nav bar */

.stretch-height{
  height:  100vh;
}

.button-spread{
  display: block;
  margin: auto;
  margin-top: 20%;
  padding-left: 20%;
  padding-right: 20%;

}

.button-same-row{
  display: inline-block;
}

.btn{
  border-radius: 18px;
  background-color: #768c75;
  border: none;
  transition: all 0.3s ease-in;

}

.own-line{
  display: block;
}

.sideNavMenu, .ww-nav{
  background-color: #e3eae3;
}

.btn-primary:hover{
  background-color: #EE9C5D;
}

.btn-success:hover{
  background-color: #8cbbdb;
}

nav > a:hover{
  text-decoration: none;
}

nav img{
  margin-left: 35px;
  margin-top: 3px;
}

.searchWord{
  font-weight: 300;
  font-size: 40px;
}
.navbar-right{
  margin-top: 5px;
}

.navbar-right .btn{
  margin-right: 2%;
  margin-top: 0px;
}

/*testing side nav*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #E3EAE3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #EE9C5D;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.App {
    transition: margin-left .5s;
    padding: 20px;
}
